body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.quote-box {
    width:500px;
    height:500px;
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 10px;
}

.quote {
    font-size:50px;
    text-align: center;
    margin: 20px;
}

.author {
    font-size:30px;
    text-align: center;
    margin: 20px;
}

.container {
    width: inherit;
    display: flex;
    flex-direction: column;
}

button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.quote-btn {
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    width:300px;
    min-height:50px;
    margin-top: 20px;
}

.quote-btn:hover{
    color:white;
    background-color: black;
}