@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --yellow:#7fff00;
    --pink:	#ff1493;
    --purple:#8a2be2;
    --blue:#1493ff;
    --primary-font:'Orbitron', sans-serif;
    --secondary-font:'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}


body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: url(../images/background.jpg);
    background-size:cover;
}

body::after {
    content: "";
    background-image: url(../images/overlay.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity:0.95;
}

.quote-box {
    width:1000px;
    height:500px;
    border:20px solid var(--blue);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 10px;
    z-index: 1;
    background-color: rgba(138, 43, 226,0.5);
    border-radius: 20%;
}

.quote {
    font-size:50px;
    text-align: center;
    margin: 20px;
    font-family: var(--primary-font);
    font-weight:900;
    color: var(--yellow);

}
.author {
    font-size:40px;
    text-align: center;
    margin: 20px;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--pink);
}

.container {
    width: inherit;
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
}

button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.quote-btn {
    font-size: 20px;
    cursor: pointer;
    border: 5px solid var(--yellow);
    background: var(--pink);
    border-radius: 20px;
    width:300px;
    min-height:50px;
    margin-top: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.quote-btn:hover{
    color:black;
    background-color: var(--yellow);
    border: 5px solid var(--pink);
}

.flower_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.flower_con img {
    width:200px;
}

.flower_con img:nth-child(1) {
    position: absolute;
    top: 57%;
    left: 18%;
}
.flower_con img:nth-child(2) {
    position: absolute;
    top: 24%;
    left: 17%;
}
.flower_con img:nth-child(3) {
    position: absolute;
    top: 62%;
    left: 60%;
    width: 300px;
}
.flower_con img:nth-child(4) {
    position: absolute;
    top: 45%;
    left: 70%;
}
.flower_con img:nth-child(5) {
    position: absolute;
    top: 57%;
    left: 80%;
}
.flower_con img:nth-child(6) {
    position: absolute;
    top: 10%;
    left: 69%;
    width: 400px;
}
.flower_con img:nth-child(7) {
    position: absolute;
    top: 2%;
    left: 20%;
}
.flower_con img:nth-child(8) {
    position: absolute;
    top: 65%;
    left: 22%;
}
.flower_con img:nth-child(9) {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 300px;
}